/* Generar estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(135deg, #FF77B6, #FFB6C1);
    color: white;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: 'Poppins', sans-serif;
    animation: dropFromTop 0.5 ease-out;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    margin: 0;
}

@keyframes dropFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin-bottom: 60px;
}

h1, h2 {
    text-align: center;
    color: #333
}

section {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 30%;
    min-height: 310px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

section:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type = "file"], input[type = "text"]{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    transition: border-color 0.3s, background-color 0.3;
}

input[type = "file"]:focus, input[type = "text"]:focus {
    border-color: #FF77B6;
    background-color: #fff;
    outline: none;
}

button {
    padding: 12px;
    background-color: #FF77B6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #FF4F99;
    transform: scale(1.05);
}

#color-preview, #palette-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.color-block {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#contast-result {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 1.2rem;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    z-index: 1000;
}